@import "_fonts", "_elusive-webfont", "_pe-icon";

$royal-blue: #003478;
$blue-grey: #425968;
$light-grey: #91a4b1;
$dark-grey: #7f7c7c;
$lighter-grey: #b3b3b3;
$off-black: #333333;
$electric-blue: #2d96cd;
$sexy-blue: #1ba4e0;
$sage: #425968;
$shade-of-white: #eee;
$off-yellow: #fffd8b;

$header-bar : #6a7b46;
$text-color: #9e978e;
$comp-blue: #3e4c79;
$comp-purple: #6b3e79;

$three-quarter-opaque: 0.75;
$half-opaque: 0.5;
$quarter-opaque: 0.25;
$transparent: transparent;

@mixin animationDelay ($delay) {
  -webkit-animation-delay: $delay;
  -moz-animation-delay:    $delay;
  -ms-animation-delay:     $delay;
  -o-animation-delay:      $delay;
  animation-delay:      $delay;
}

$interval: .5s;
$classesToAdd: 10;

@for $i from 1 to $classesToAdd + 1 {
  ._#{$i} { @include animationDelay($i * $interval); }
}

.gradient{
  background: rgba(164,179,87,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(164,179,87,1)), color-stop(100%, rgba(117,137,12,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
  background: radial-gradient(ellipse at center, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c', GradientType=1 );
}

body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

#logo {
  margin: 30px 0;
}

.our-wedding {
  background-color: $header-bar;

  .intro-slides, .intro-slides >  {

    ion-slide{
      visibility: hidden;
      &.active {
        visibility: visible;
      }
    }

    .intro {
      padding-top: 7%;

      .card {
        background-color: transparent;

        .item {
          background-color: transparent;
          border: none;
        }
      }
    }
  }

  > .pane, .view {
    background-color: transparent;
  }

  .bar,.nav-bar {
    background-color: $header-bar;
  }
  .our-nav {
    &.has-header {
      background: $header-bar;
    }
    .list {
      text-align: left;
      .item {
        border: none;
        &.item-complex{
          border: none;
          background-color: transparent;
        }
        a.item-content, a.item-complex {
          text-align: center;
          background-color: transparent;
          line-height: 2.5;
          color: $shade-of-white;
        }
      }
    }
  }
}

.intro {
  .list {
    width: 100%;
    margin: 30px auto;
    font-size: 20px;

    ol {
      margin-top: 30px;

      li {
        text-align: center;
        margin: 10px 0;
      }
    }

    .list-group {
      width: 80%;
      margin: 0 auto;
      .list-group-item {
        background-color: transparent;
        border: none;
        text-align: center;
        padding: 0.75em  0.25em;
      }
    }
  }
}


.slider {
  height: 100% !important;
  width: 100%;
  display: block !important;

  .slider-slides {
    display: block !important;
  }

  .slider-slide {
    padding-top: 0;
    color: $shade-of-white;
    background-color: transparent;
    text-align: center;
    font-family: "FordAntenna-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;

    img {
      height: 100%;
      margin: 0 auto;
    }

      h1, h2, h3, h4, h5 {
        color: $shade-of-white;
      }

      .info {
        position: relative;
        background-color: $shade-of-white;
        padding: 0.225em 0;
        bottom: 45px;
        margin: 0 auto;
        width: 100%;
        display: block;
        text-align: center;
        font-size: 25px;
        color: $sexy-blue;
      }

  }

}

.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}


.bar {
  &.bar-light-blue {
    background-color: $electric-blue;
    opacity: $three-quarter-opaque;
  }
  &.bar-sage {
    background-color: $header-bar;
    opacity: 0.9;
  }
  &.bar-clear {
    background-color: transparent;
    opacity: 1;
  }
  &.bar-purple {
    background: rgba(109,0,25,1);
    background: -moz-linear-gradient(45deg, rgba(109,0,25,1) 0%, rgba(143,2,34,1) 56%, rgba(169,3,41,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(109,0,25,1)), color-stop(56%, rgba(143,2,34,1)), color-stop(100%, rgba(169,3,41,1)));
    background: -webkit-linear-gradient(45deg, rgba(109,0,25,1) 0%, rgba(143,2,34,1) 56%, rgba(169,3,41,1) 100%);
    background: -o-linear-gradient(45deg, rgba(109,0,25,1) 0%, rgba(143,2,34,1) 56%, rgba(169,3,41,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(109,0,25,1) 0%, rgba(143,2,34,1) 56%, rgba(169,3,41,1) 100%);
    background: linear-gradient(45deg, rgba(109,0,25,1) 0%, rgba(143,2,34,1) 56%, rgba(169,3,41,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#a90329', GradientType=1 );
    color: $shade-of-white;
  }
  .title {
    color: $shade-of-white;
  }
}

.button {
  &.button-white{
    background-color: $transparent;
    color: $shade-of-white;
    border: none;
    padding-right: 2px;
    padding-left: 2px;
    font-weight: 300;
    font-size: 17px;
    min-height: 17px;
    line-height: 32px;
  }
  &.button-light-blue {
    background-color: $electric-blue;
    opacity: $three-quarter-opaque;
    color: $shade-of-white;
  }
}

.responsive-md.container , .container-fluid, .container {
  padding: 0;
  max-width: 62.5em;
  margin: 0 auto;
  .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    padding: 0;
  }
  .list {
    padding: 0;
    margin: 0;
    position: relative;
    &:last-child { margin-bottom: 10px; }

    .item.item-image {
      position: relative;
      top:0;
      left: 0;
      img {
        min-height: 250px;
        height: 250px
      }
      .favourite{
        position: absolute;
        top: 8%;
        right: 5%;
        color: rgba(169,3,41,0.8);
      }
    }

    .panel {
      a.item-content {
        padding: 1em 0.75em;
      }
    }

  }
}

/**
 tabs
 **/

.tabs-color-sage.tabs-striped {
  color: $sage;
  .tabs {
    box-shadow: 0 2px 9px $blue-grey;
  }
  .tab-item {
    color: $header-bar;
    &.tab-item-active {
      border-color: $header-bar;
      text-decoration: none;
    }
    .icon {
      color: $header-bar
    }
  }
}
.starter, .main, .evening, .matthew, .laura {
  .item-image {
    position: relative;
    .about {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
//      line-height: 3;
      padding: 0.25em 0;
      margin: 0;
      background-color: $shade-of-white;
      opacity: 0.7;
      p {
        opacity: 1;
        font-size: 1.25em;
        color: $off-black;
        margin: 0;
        line-height: 3;
      }
    }
  }
  .click-through {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0.85;
    padding: 0;
    a {
        opacity: 1;
        width: 100% ;
        padding-right: 10px;
        color: $off-black;
      }
    h2 {
      padding: 1em;
      opacity: 1;
      color: $off-black;
    }
  }
}

.profile-light {
  background-color: $comp-purple;
}

.profile-dark {
  background-color: $comp-blue;
}

.profile{
  opacity: 0.9;

  .outter{
    position: relative;
    top: 0;
    left: 0;
    padding: 0px;
    border: 1px solid rgba(255, 255, 255, 0.29);
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-top: 1em;

    .image-circle{
      border-radius: 51%;
      width: 275px;
      height: 275px;
      border: 4px solid #FFF;
      margin: 10px;
    }

    i{
      position: absolute;
      left: 0;
      top: 100%;
      color: $shade-of-white;
    }
  }

  h1 {
    color: $shade-of-white;
    text-align: center;
  }

}


/*
 * http://docs.angularjs.org/api/ng/directive/ngShow#usage_animations
 */
.list .item.item-accordion {
  line-height: 38px;
  padding: 0;
  -webkit-transition: all 0.0.9s linear;
  -moz-transition: all 0.0.9s linear;
  -ms-transition: all 0.0.9s linear;
  -o-transition: all 0.0.9s linear;
  transition: all 0.0.9s linear;

  &.item-accordion {
    &.ng-hide {
      line-height: 0px;
    }
    &.ng-hide-add, &.ng-hide-remove {
      display: block !important;
    }
  }
  .list {
    padding: 0;
    &:last-child { margin-bottom: 0px; }

    .item.item-image {
      img {
        min-height: 250px;
        height: 250px
      }
    }
  }
}
.venue {
  .item:nth-child(2) {
    padding: 0;
  }
  .item-location {
      .buttons, .glyphicon-map-marker {
        font-size: 24px;
        top: 5px;
        color: $sexy-blue;
      }
    p {
      font-size: inherit;
    }
    }
  }

.form-group{
  input {
    border: 1px solid $lighter-grey
  }
}

  map {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
  }

  .scroll {
    height: 100%;
  }

  .angular-google-map-container {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
  }


  .angular-google-map {
    display: block;
    width: 100%;
    height: 100%;
  }

  .marker-labels {
    color: red;
    background-color: white;
    font-family: "FordAntenna-Light", "Arial", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    white-space: nowrap;
    padding-left: 3px;
    padding-right: 3px;
  }

  form {
    padding-top: 2em;
  }
