<ion-view title="{{vm.church.title}}">

    <ion-content class="has-header" scroll overflow-scroll>

        <div class="container-fluid venue">

            <div class="list card col-sm-12 col-md-12 col-lg-12">

                <div class="item item-image">
                    <img src="" ng-src="./img/high-halstow/{{vm.church.img}}">
                </div>

                <div class="item item-location click">
                    <div class="panel panel-success">
                        <div class="panel-heading">{{vm.church.title}}</div>
                        <div class="item-text-wrap">
                            <ion-item ui-sref="app.venue.church-map">
                                {{vm.church.address}}
                            </ion-item>
                            <ion-item ui-sref="app.venue.church-map">
                                <i class="glyphicon glyphicon-map-marker"></i> Get Directions
                            </ion-item>
                        </div>
                        <div class="panel-heading"><h2>Our wedding service starts at 1pm</h2></div>
                    </div>
                </div>

                <div class="item item-body">
                    <p ng-repeat="body in vm.church.body">{{body}}</p>
                </div>

            </div>

        </div>

    </ion-content>
</ion-view>