<ion-view title="Venue" ng-controller="VenueController as vm">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon button-white icon pe-7s-menu white"></button>
    </ion-nav-buttons>

    <ion-tabs class="tabs-striped tabs-color-sage tabs-icon-top">
        <ion-tab title="{{vm.church.title}}" icon="el-icon-bell" ui-sref="app.venue.church">
            <ion-nav-view name="tab-church" title="{{vm.church[0].title}}"></ion-nav-view>
        </ion-tab>
        <ion-tab title="{{vm.reception.title}}" icon="el-icon-group" ui-sref="app.venue.reception">
            <ion-nav-view name="tab-reception" title="{{vm.reception[0].title}}"></ion-nav-view>
        </ion-tab>
    </ion-tabs>

</ion-view>
