<div class="modal">
  <ion-header-bar class="bar bar-light-blue">
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-white" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Username" ng-model="loginData.username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="password" ng-model="loginData.password">
            </label>
            <label class="item">
            <button class="button button-block button-light-blue" type="submit">Log in</button>
            </label>
        </div>
    </form>
  </ion-content>
</div>

