<ion-view title="Evening" ng-controller="MenuController as vm">
    <ion-content class="has-header">
       <ion-list>
        <div ng-repeat="(key, val) in vm.evenings"  class="responsive-md container-fluid">
          <ion-item class="item-stable">
              <i class="icon" ng-class="ion-plus"></i>
            &nbsp;
           {{key | uppercase }}
          </ion-item>
          <ion-item class="item item-accordion"
                    ng-repeat="(obj, val) in val">
              <div class="list col-sm-12 col-md-12 col-lg-12">

                  <div class="item item-image">
                      <img src="" ng-src="./img/evening-buffet/{{val.type}}/{{val.imgSrc}}">
                  </div>

                  <div class="item item-button-right click-through">
                      <h2>{{val.name}}</h2>
                  </div>
              </div>
          </ion-item>
        </div>
      </ion-list>

    </ion-content>
</ion-view>
