<ion-view title="Menu" ng-controller="MenuController">

        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon button-white icon pe-7s-menu white"></button>
        </ion-nav-buttons>

    <ion-tabs class="tabs-striped tabs-color-sage tabs-icon-top">
        <ion-tab title="Starter" icon="pe-7s-wine pe-2x pe-fw" ui-sref="app.menu.starter">
            <ion-nav-view class="starter" title="Starter" name="tab-starter"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Main" icon="ion-pizza" ui-sref="app.menu.main">
            <ion-nav-view class="main" title="Main" name="tab-main"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Evening Buffet" icon="ion-wineglass" ui-sref="app.menu.evening">
            <ion-nav-view class="evening" title="Evening Buffet" name="tab-evening"></ion-nav-view>
        </ion-tab>
    </ion-tabs>

</ion-view>