<ion-view title="Starter" ng-controller="StarterMealController as vm">
    <ion-content class="has-header" scroll overflow-scroll>

        <div class="responsive-md container-fluid">
            <div class="list card col-sm-12 col-md-6 col-lg-3">

                <div class="item item-image">
                    <img class="img-responsive" src="" ng-src="./img/starters/{{vm.starter[0].imgSrc}}">
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">{{vm.starter[0].name}}</div>
                    <div class="panel-body item-text-wrap">
                        <p>{{vm.starter[0].description}}</p>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Ingredients</div>
                    <div class="panel-body item-text-wrap">
                        <p>These will the here....</p>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
