<ion-view title="Starter" ng-controller="MenuController as vm">
    <ion-content class="has-header" scroll overflow-scroll>

        <div class="responsive-md container-fluid">

            <div class="list card col-sm-12 col-md-6 col-lg-6" ng-repeat="starter in vm.starters" ng-if="starter.included === true">

                <div class="item item-image starter-img">
                    <img src="" ng-src="./img/starters/{{starter.imgSrc}}">
                    <div class="favourite" ng-click="showPopup(); toggleClass($index)"><span ng-class="isGrey[$index]" class="button-white glyphicon pe-2x"></span></div>
                </div>

                <div class="item click-through item-text-wrap">
                    <ion-item ng-href="#/app/menu/starter/{{starter.id}}">
                        {{starter.name}} <i class="pe pe-7s-angle-right-circle pe-2x pull-right"></i>
                    </ion-item>
                </div>

            </div>

        </div>

    </ion-content>
</ion-view>
