<ion-side-menus>

    <!-- Header Bar-->
  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar bar-sage nav-title-slide-ios7">
      <ion-nav-back-button class="button button-white">
          <i class="icon ion-ios7-arrow-back"></i> Back
      </ion-nav-back-button>
    </ion-nav-bar>
      <!-- "menuContent" is assigned an object within the routing i.e app.js -->
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-sage">
      <h1 class="title">{{myTitle}}</h1>
    </header>
    <ion-content class="has-header our-nav">
      <ion-list>
        <ion-item nav-clear menu-close ui-sref="app.about"><i class="pe-7s-home pe-2x pe-fw"></i> Home</ion-item>
        <ion-item nav-clear menu-close ui-sref="app.about"><i class="pe-7s-info pe-2x pe-fw"></i> How We Met</ion-item>
        <ion-item nav-clear menu-close ui-sref="app.venue.church"><i class="pe-7s-like pe-2x pe-fw"></i> Our Venues</ion-item>
        <ion-item nav-clear menu-close ui-sref="app.menu.starter"><i class="pe-7s-wine pe-2x pe-fw"></i> Our Menu "yum"</ion-item>
        <ion-item nav-clear menu-close ui-sref="app.overnight.hotels"><i class="pe-7s-shopbag pe-2x pe-fw"></i> Where to Stay</ion-item>
        <ion-item nav-clear menu-close ui-sref="app.contact"><i class="pe-7s-mail pe-2x pe-fw"></i> RSVP</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
