<ion-view hide-back-button="true" title="How We Met" ng-controller="AboutController as vm">

    <ion-nav-buttons side="left" hide-back-button="true">
        <button menu-toggle="left" class="button button-icon button-white icon pe-7s-menu white"></button>
    </ion-nav-buttons>

    <ion-content class="has-header" scroll overflow-scroll>

        <div class="responsive-md container-fluid laura">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading item-body">
                        <p class="text-center">It happened at</p>
                    </div>
                    <div class="list-group">
                        <div class="">
                            <img class="fullscreen-image" src="./img/us/vfest-2012.jpg" alt=""/>
                        </div>
                        <div class="list-group-item item-body">
                            <p class="text-center">there was a girl called Laura</p>
                        </div>
                        <div class="list-group-item profile profile-light" align="center">
                            <div class="outter">
                                <img ng-src="./img/us/{{vm.bride[0].images[1].src}}" ng-click="showHersImages()" class="image-circle"/>
                            </div>
                        </div>
                        <div class="list-group-item item-body">
                            <p class="text-center">and a boy called Matthew</p>
                        </div>
                        <div class="list-group-item profile profile-dark" align="center">
                            <div class="outter">
                                <img ng-src="./img/us/{{vm.groom[0].images[1].src}}" ng-click="showHisImages()" class="image-circle"/>
                            </div>
                        </div>
                        <div class="list-group-item item-body">
                            <p class="text-center">there might have been some of these involved</p>
                        </div>
                        <div class="">
                            <img class="fullscreen-image" src="./img/us/toilets.jpg" alt=""/>
                        </div>
                        <div class="list-group-item panel-body">
                            <p class="text-center">the rest is history......</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>

</ion-view>
