<div class="modal">
    <ion-header-bar class="bar bar-sage">
        <div class="buttons pull-right">
            <button class="button button-white" ng-click="closeHersImages()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <ion-slide-box ng-if="vm.bride[0]" on-slide-changed="slideChanged(index)"
                       show-pager="false">
            <ion-slide ng-repeat="oImage in vm.bride[0].images">
                <img src="" ng-src="./img/us/{{oImage.src}}" class="img-responsive" />
                <p class="info">
                    {{oImage.title}}
                </p>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</div>