<ion-view title="{{vm.bride[0].name}}">

    <ion-content class="has-header" scroll overflow-scroll>

        <div class="responsive-md container-fluid laura">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="list card">

                    <div class="col-md-12 col-xs-12 profile" align="center">
                        <div class="outter">
                            <img ng-src="./img/us/{{vm.bride[0].images[1].src}}" class="image-circle"/>
                            <i ng-click="showHersImages()" class="glyphicon glyphicon-picture pull-left pe-2x"></i>
                        </div>
                        <h1 class="text-center h2">The Bride</h1>
                    </div>

                    <div class="item item-body">
                        <p ng-repeat="text in vm.bride[0].about">{{text.body}}</p>
                    </div>

                </div>

            </div>
        </div>

    </ion-content>
</ion-view>