<ion-view title="{{vm.groom[0].name}}">

  <ion-content class="has-header" scroll overflow-scroll>

        <div class="responsive-md container-fluid matthew">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="list card">

                    <div class="full-image item-image">

                        <div class="col-md-12 col-xs-12 profile" align="center">
                            <div class="outter">
                                <img ng-src="./img/us/{{vm.groom[0].images[1].src}}" class="image-circle"/>
                                <i ng-click="showHisImages()" class="glyphicon glyphicon-picture pull-left pe-2x"></i>
                            </div>
                            <h1 class="text-center h2">The Groom</h1>
                        </div>

                    </div>

                    <div class="item item-body">
                        <p ng-repeat="text in vm.bride[0].about">{{text.body}}</p>
                    </div>

                </div>
            </div>
        </div>

    </ion-content>

</ion-view>
