<ion-view title="{{vm.hotels.title}} Map" ng-controller="HotelMapController as vm">

  <ion-content class="has-header">
      <ui-gmap-google-map draggable="true" center="vm.map.center" zoom="vm.map.zoom">
          <ui-gmap-marker coords="vm.marker" idKey="vm.marker.idKey" labelContent="vm.marker.title" labelAnchor="10 -8" labelClass="marker-labels" click="vm.locationClicked(vm.marker)"></ui-gmap-marker>
      </ui-gmap-google-map>
  </ion-content>
</ion-view>