<ion-view title="Hotels">

    <ion-content class="has-header" scroll overflow-scroll>

        <div class="responsive-md container-fluid venue">

            <div class="list card col-sm-12 col-md-6 col-lg-12" ng-repeat="hotel in vm.hotels">

                <div class="item item-image">
                    <img ng-src="./img/hotels/{{hotel.img}}">
                </div>

                <div class="item click item-text-wrap">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h2 class="h2">{{hotel.title}}</h2>
                        </div>
                        <div class="list-group">
                            <div ng-show="hotel.cost" class="list-group-item">
                                <span class="glyphicon glyphicon-gbp"></span>  from {{hotel.cost | currency : '£' }}
                            </div>
                            <div ng-show="hotel.address" class="list-group-item">
                                <a ng-href="#/app/overnight/hotel-map/{{hotel.id}}"> {{hotel.address}}</a>
                            </div>
                            <ion-item ng-href="#/app/overnight/hotel-map/{{hotel.id}}">
                                <i class="glyphicon glyphicon-map-marker"></i>  Get Directions
                            </ion-item>
                            <div ng-show="hotel.telephone" class="list-group-item">
                                <a href="tel:{{hotel.telephone}}"><i class="glyphicon glyphicon-earphone"></i> {{hotel.telephone}}</a>
                            </div>
                            <div ng-show="hotel.mobile" class="list-group-item">
                                <a href="tel:{{hotel.mobile}}"><i class="glyphicon glyphicon-phone"></i> {{hotel.mobile}}</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </ion-content>
</ion-view>