<ion-view title="Taxis">

    <ion-content class="has-header" scroll overflow-scroll>

        <div class="responsive-md container-fluid taxis">

            <div class="list card col-sm-12 col-md-6 col-lg-3" ng-repeat="taxi in vm.taxis">

                <div class="item item-image">
                    <img class="" src="" ng-src="./img/the-knowle/{{taxi.img}}">
                </div>

                <div class="item item-button-right">
                    <h2>{{taxi.title}},</h2>
                    <h3><a href="tel:{{taxi.telephone}}">{{taxi.telephone}}</a></h3>
                </div>

            </div>

        </div>

    </ion-content>
</ion-view>