<ion-view class="intro" title="" ng-controller="IntroController">
    <ion-nav-bar>
        <ion-nav-buttons side="left">
            <button class="button button-white no-animation"
                    ng-click="startApp()" ng-if="!slideIndex">
                Skip Intro
            </button>
            <button class="button button-white no-animation"
                    ng-click="previous()" ng-if="slideIndex > 0">
                Previous Slide
            </button>
        </ion-nav-buttons>

        <ion-nav-buttons side="right">
            <button class="button button-white no-animation"
                    ng-click="next(index)" ng-if="slideIndex != 3">
                Next
            </button>
            <button class="button button-white no-animation"
                    ng-click="startApp()" ng-if="slideIndex == 3">
                To Our Wedding App
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-slide-box on-slide-changed="slideChanged(index)" class="has-header intro-slides">
        <ion-slide ng-class="{ active: !slideIndex}">
            <div class="container-fluid intro animated fadeInUp _1">
                <div class="full-image item-image">
                    <img class="img-responsive" src="./img/intro-img.png"  alt=""/>
                </div>
                <div>
                    <h3>Swipe me</h3>
                </div>
            </div>
        </ion-slide>

        <ion-slide ng-class="{ active: slideIndex == 1}">
            <div class="container intro">
                <div class="list">
                    <h4>You have these features:</h4>
                    <ol>
                        <li class="animated slideInLeft _1"><i class="pe-7s-info pe-lg pe-fw"></i> About Us</li>
                        <li class="animated slideInRight _2"><i class="pe-7s-like pe-lg pe-fw"></i> About the venue's</li>
                        <li class="animated slideInLeft _3"><i class="pe-7s-wine pe-lg pe-fw"></i> What you're going to eat</li>
                        <li class="animated slideInRight _4"><i class="pe-7s-map pe-lg pe-fw"></i> Where the venue's are</li>
                        <li class="animated slideInLeft _5"><i class="pe-7s-shopbag pe-lg pe-fw"></i> Where to stay</li>
                    </ol>
                </div>
            </div>
        </ion-slide>

        <ion-slide ng-class="{ active: slideIndex == 2}">
            <div class="container-fluid intro animated">
                <div class="list">
                    <h4>You can click to:</h4>
                    <div class="list-group">
                        <div class="list-group-item animated fadeInUp _1">
                            <span class="glyphicon glyphicon-camera"></span> See more of us 
                        </div>
                        <div class="list-group-item animated fadeInUp _2">
                            <span class="glyphicon glyphicon-circle-arrow-right"></span> See whats in the starter and main courses 
                        </div>
                        <div class="list-group-item animated fadeInUp _3">
                            <span class="glyphicon glyphicon-map-marker"></span> See the location of the venue's and hotels 
                        </div>
                        <div class="list-group-item animated fadeInUp _4">
                            <span class="glyphicon glyphicon-phone"></span> Call the hotels or taxis 
                        </div>
                        <div class="list-group-item animated fadeInUp _5">
                            <span class="glypicon pe-lg pe-7s-map"></span> Get your driving directions 
                        </div>
                    </div>
                </div>
            </div>
        </ion-slide>

        <ion-slide ng-class="{ active: slideIndex == 3}">
            <div class="container-fluid intro">
                <h3 class="animated fadeInUp _1">Any questions?</h3>
                <p class="animated slideInLeft _2">Too bad! Now.....</p>
                <button class="button button-white button-large animated slideInRight _4" ng-click="startApp()">To Our Wedding App</button>
            </div>
        </ion-slide>
    </ion-slide-box>

</ion-view>

